@import "../../scss/genericReset";
@import "../../scss/genericBoxSizing";
@import "../../scss/genericMixin";

$logo-width: 111px;
$logo-height: 28px;

$reg_form-width: 352px;
$reg_form-height: 30px;
$reg_form-padding: 8px;

$border-radius: 2px;

$min-width: 1104px;

html {
  min-width: $min-width;
}

.global {
  height: 100vh;
}

.header {
  background-color: #283e4a;
}

.main {
  height: calc(100% - 350px - 52px);
  min-width: $min-width;
  min-height: 517px;
  padding-left: 12px;
  padding-right: 12px;
  background-image: url("~@/public/__static__/img/background.jpeg");
  background-size: cover;
}

.bottom {
  padding-top: 25px;
  background-color: #434649;
  width: 100%;
}
