<!DOCTYPE html>
<html>
  <head>
    <title>linkedin</title>
    <base href="/">
    <!-- <link rel="stylesheet" type="text/css" href="./login.css"> -->
  </head>
  <body>
    <header class="main-header">
      <div class="wrapper">
        <div class="logo">
          <img src="__static__/img/logo.png">
        </div>
        <form class="login-form">
          <input type="text" placeholder="Email">
          <input type="password" placeholder="密碼">
          <input type="submit" value="登入">
          <a href="#">忘記密碼？</a>
        </form>
      </div>
    </header>
    <div class="main-content">
      <form class="reg-form">
        <div class="sub-header">
          <h2>展現個人優勢！</h2>
          <h3>免費註冊，馬上開始！</h3>
        </div>
        <!-- <div class="reg-error"></div> -->
        <div class="reg-blank">
          <label for="lastname">姓</label>
          <input type="text">
          <label for="firstname">名</label>
          <input type="text">
          <label for="email">Email</label>
          <input type="text">
          <label for="password">密碼 (6 個字元以上)</label>
          <input type="password">
          <span class="agreement">
            按下「立即加入」即代表您同意 LinkedIn <a href="#">用戶協議</a>、<a href="#">隱私權政策</a>和 <a href="#">Cookie 政策</a>。
          </span>
          <input type="submit" value="立即加入">
        </div>
      </form>
    </div>
    <footer class="main-footer">
      <form class="search-form">
        <h3 class="title">尋找同事</h3>
        <input type="text" placeholder="姓">
        <input type="text" placeholder="名">
        <input type="submit" value="搜尋">
      </form>
    </footer>
  </body>
</html>