@import "../../scss/genericReset";
@import "../../scss/genericBoxSizing";

$header-width: 1116px;
$header-height: 52px;

$logo-width: 111px;
$logo-height: 28px;

$form-width: 194px;
$form-height: 30px;

$reg_form-width: 352px;
$reg_form-height: 30px;
$reg_form-padding: 8px;

$button-width: 52px;
$button-height: 30px;

$border-radius: 2px;

$min-width: 1104px;

@mixin link-decoration($color) {
  font-size: 13px;
  text-decoration-line: none;
  color: $color;
}

html {
  min-width: $min-width;
}

.global {
  height: 100vh;
  background-color: black;
}

.header {
  width: 100%;
  min-width: $header-width;
  height: $header-height;
  background-color: #283e4a;
}

.header-container {
  width: $header-width;
  height: $header-height;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  padding: ($header-height - $logo-height)/2;
  float: left;
}

.login {
  float: right;
  display: inline-flex;
}

.login-email {
  width: $form-width;
  height: $form-height;
}

.login-password {
  width: $form-width;
  height: $form-height;
}

.submit-button {
  width: $button-width;
  height: $button-height;
}

.link-forgot-password {
  float: right;
}

.main {
  height: calc(100% - 303px - 52px);
  min-width: $min-width;
  min-height: 517px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 12px;
  padding-right: 12px;
  background-image: url("~@/public/__static__/img/background.jpeg");
  background-size: cover;
}

.register {
  box-sizing: border-box;
  width: 400px;
  height: 445px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(237, 240, 243);
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;

  h2, h3 {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    margin: 0;
    text-align: center;
    background-color: rgb(246, 248, 250);
  }

  label, input {
    display: block;
    margin-left: 24px;
    margin-right: 24px;
    box-sizing: border-box;
  }

  input {
    width: $reg_form-width;
    height: $reg_form-height;
    padding-left: $reg_form-padding;
    padding-right: $reg_form-padding;
  }
}

.agreement {
  width: 368px;
  height: 32px;
  margin: 8px 16px;
  text-align: center;
  font-size: 13px;
  display: block;
  margin: 0 16px;
  color: rgba(0, 0, 0, 0.55);

  a {
    @include link-decoration(rgba(0, 0, 0, 0.55));
  }
}

.reg-submit {
  width: $reg_form-width;
  height: 32px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #0084bf;
  color: white;
}

.bottom {
  padding-top: 25px;
  background-color: #434649;
  width: 100%;
  // position: absolute;
  // bottom: 0;
}

.find {
  display: block;

  h3 {
    color: white;
    float: left;
  }

  input {
    box-sizing: border-box;
    width: 210px;
    height: 30px;
  }
}

.find-colleague-form {
  width: 683.953px;
  height: 32px;
  margin: 0 auto;
}

.submit-button {
  width: 53.875px !important;
  height: 30px;
  color: rgba(255, 255, 255, 0.25);
  background-color: transparent;
}

.dictionary {
  font-size: 13px;
  position: relative;
  display: block;
  text-align: center;
  width: 772.048px;
  height: 48px;
  margin: 0 auto;

  h3 {
    color: white;
    float: left;
  }

  li {
    display: inline-block;
    a {
      @include link-decoration(#0084bf);
    }
  }
}

.sitemap {
  width: 1128px;
  height: 162px;
  margin: 0 auto;
  min-width: $min-width;

  a {
    @include link-decoration(rgba(255,255,255,0.85));
  }

  li {
    display: inline-block;
    border-right: 1px solid rgba(255,255,255,0.55);
  }

  .links {
    width: 50%;
    height: 50%;
    float: left;
  }
}

.footer {
  li {
    display: inline-block;
  }
}

#browse-by-country {
  @include link-decoration(white);
}
