<form class="reg-form u-center">
  <div class="sub-header">
    <h2>展現個人優勢！</h2>
    <h3>免費註冊，馬上開始！</h3>
  </div>
  <div class="reg-error">
    <div class="emsg-container">
      <p class="message">Something error</p>
    </div>
  </div>
  <div class="reg-blank">
    <label for="lastname">姓</label>
    <input type="text" id="lastname">
    <label for="firstname">名</label>
    <input type="text" id="firstname">
    <label for="email">Email</label>
    <input type="text" id="email">
    <label for="password">密碼 (6 個字元以上)</label>
    <input type="password" id="password">
    <span class="agreement">
      按下「立即加入」即代表您同意 LinkedIn <a href="#">用戶協議</a>、<a href="#">隱私權政策</a>和 <a href="#">Cookie 政策</a>。
    </span>
    <input type="submit" value="立即加入">
  </div>
</form>