<div class="find-colleague">
  <form class="find-colleague-form">
    <h3>Find a colleague</h3>
    <input type="text" placeholder="First name">
    <input type="text" placeholder="Last name">
    <input class="submit-button" type="submit" value="Search">
  </form>
</div>
