@import "../../../scss/_settingsCore";

.search-directory {
  // width: 800px;
  height: 48px;
  margin: 0 auto;
  text-align: center;

  li {
    display: inline-block;
    padding-left: 8px;
    font-size: 13px;

    a {
      color: #0084bf;
      display: block;
      font-weight: 600;
    }

    a:hover {
      text-decoration: underline;
    }

    &:last-of-type a{
      color: rgba(255,255,255,0.85);
    } 
  }

  .country-search {
    border-left: 1px solid rgba(255,255,255,0.25);
    margin-left: 12px;
    padding-left: 12px;
  }
}