<div class="login">
  <form>
    <input class="login-form" type="text" placeholder="Email">
    <input class="login-form" type="text" placeholder="Password">
    <input class="login-submit-button" type="submit" value="Sign in">
    <a class="link-forgot-password" href="https://www.linkedin.com/uas/request-password-reset?trk=uno-reg-guest-home-forgot-password">Forgot password?</a>
  </form>
</div>
