@import "../../../scss/_settingsCore";

.login-form {
  float: right;

  input {
    width: $login-form-input-width;
    height: $form-input-hright;
    margin-right: 10px;
    padding-right: 8px;
    padding-left: 8px;
    padding-top: 0;
    padding-bottom: 0;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: transparent;
    color: white;
    width: initial;
  }

  a {
    color: white;
  }
  
  a:hover {
    text-decoration: underline;
  }
}