<div class="footer-bar">
  <div class="copyright">
    <div class="u-center">
      <img src="__static__/img/logo-ft.png">
      <span>© 2017</span>
    </div>
  </div>
  <ul>
    <li><a href="#">用戶協議</a></li>
    <li><a href="#">隱私權政策</a></li>
    <li><a href="#">社群指南</a></li>
    <li><a href="#">Cookie 政策</a></li>
    <li><a href="#">著作權政策</a></li>
    <li><a href="#">訪客控管</a></li>
    <li class="lang-selector-container">      
      <input type="checkbox" class="lang-selector-state" id="lang-selector-state">
      <label for="lang-selector-state" class="lang-selector-state-label">語言能力</label>
      <form class="lang-form" id="lang-form">
        <ul class="list-bare">
          <li><button>簡體中文</button></li>
          <li><button>正體中文</button></li>
          <li><button>English</button></li>
        </ul>
      </form>
    </li>
  </ul>
</div>