<div class="footer">
  <div class="copyright">
    <img src="__static__/img/copyright.png">© 2017
  </div>
  <ul>
    <li><a href="https://www.linkedin.com/legal/user-agreement?trk=uno-reg-guest-home-user-agreement">User Agreement</a></li>
    <li><a href="https://www.linkedin.com/legal/privacy-policy?trk=uno-reg-guest-home-privacy-policy">Privacy Policy</a></li>
    <li><a href="https://www.linkedin.com/help/linkedin/answer/34593?lang=en&trk=uno-reg-guest-home-community-guidelines">Community Guidelines</a></li>
    <li><a href="https://www.linkedin.com/legal/cookie-policy?trk=uno-reg-guest-home-cookie-policy">Cookie Policy</a></li>
    <li><a href="https://www.linkedin.com/legal/copyright-policy?trk=uno-reg-guest-home-copyright-policy">Copyright Policy</a></li>
    <li><a href="https://www.linkedin.com/psettings/guest-controls?trk=uno-reg-guest-home-guest-controls">Guest Controls</a></li>
    <li>Language</a></li>
  </ul>
</div>
