<form class="register">
  <h2 class="title">Be great at what you do</h2>
  <h3 class="subtitle">Get started - it's free.</h3>
  <label class="reg-first_name">First name</label>
  <input type="text">
  <label class="reg-label">Last name</label>
  <input type="text">
  <label class="reg-label">Email</label>
  <input type="text">
  <label class="reg-label">Password (6 or more characters)</label>
  <input type="text">
  <span class="agreement">By clicking Join now, you agree to the LinkedIn <a href="https://www.linkedin.com/legal/user-agreement">User Agreement</a>, <a href="https://www.linkedin.com/legal/privacy-policy">Privacy Policy</a>, and <a href="https://www.linkedin.com/legal/cookie-policy">Cookie Policy</a></span>
  <input class="reg-submit" type="submit" value="Join now">
</form>
