///* ========================================================================
//   #CORE
//   ======================================================================== */

// global width
$min-width: 1000px;

// padding
$main-header-pd-hor: 16px;
$ref-error-pd: 8px;

// font-size
$ref-error-fs: 16px;

// form width & height
$login-form-input-width: 200px;
$reg-form-input-width: 352px;
$search-form-input-width: 200px;
$reg-form-width: 400px;
$form-input-hright: 32px;


// logo height
$logo-height: 60px;
$logo-ft-height: 40px;