///* ========================================================================
//   #CLEARFIX
//   ======================================================================== */

/**
 * Mixin for clearing float.
 */

@mixin clearfix() {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}