///* ========================================================================
//   #CENTER
//   ======================================================================== */

// Mixin for centering with prefix supporting different browser.

@mixin center($percentage: -50%){
  position: relative;
  top: 50%;
  -webkit-transform: translateY($percentage);
     -moz-transform: translateY($percentage);
      -ms-transform: translateY($percentage);
          transform: translateY($percentage);
}