///* ========================================================================
//   #TRANSFORM
//   ======================================================================== */

// Generate transform with prefix for supporting different browser.

@mixin transformY($percentage: -50%){
  -webkit-transform: translateY($percentage);
     -moz-transform: translateY($percentage);
      -ms-transform: translateY($percentage);
          transform: translateY($percentage);
}