@mixin vertical-center() {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin link-decoration($color) {
  font-size: 13px;
  text-decoration-line: none;
  color: $color;

  &:hover {
    text-decoration-line: underline;
  }
}
